.article {
	
}

/* Image container */
.article div {
	height: 253px;
	justify-content: center;
	display: flex;
	align-items: center;
}

.article div img {
	
}

/* Title */
.article h2 {
	font-size: 20px;
	margin-bottom: 5px;
}

/* Description */
.article p {
	
}

#content {
	display: grid;
	column-gap: 50px;
	row-gap: 50px;
	grid-template-columns: repeat(2, 50%);
}
