img {
	width:inherit !important;
	height:inherit !important;
	max-width:100% !important;
	display:block;
	border:1px solid black;
	margin:10px 0 10px 0;
}

a {
	color:#2a7ae2 !important;
	text-decoration:none !important;
}

a:link, span.MsoHyperlink {
	color:#2a7ae2 !important;
	text-decoration:none !important;
}

a.link {
	color:#2a7ae2 !important;
	text-decoration:none !important;
}

a:visited {
	color:#1756a9 !important;
	text-decoration:none !important;
}

a:hover {
	color:#111 !important;
	text-decoration:underline !important;
}